//++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++ VARIABLES +++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++

// ########### COLORS #######################

$primary: #000000;
$secondary: #272d2f;
$accent: #ffd595;

// ########### BREAK POINTS #######################

$brk-med: "(min-width:768px)";
$brk-lrg: "(min-width:992px)";
$brk-xl: "(min-width:1441px)";
$brk-xxl: "(min-width:2560px)";
