//++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++ VARIABLES +++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++

// ########### COLORS #######################

$primary: #1f1d36;
$secondary: #312c51;
$accent: #1f6f8b;

// ########### BREAK POINTS #######################

$brk-med: "(min-width:768px)";
$brk-lrg: "(min-width:992px)";
$brk-xl: "(min-width:1441px)";
$brk-xxl: "(min-width:2560px)";
