#landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: 100vh;
}
.welcome {
    display: flex;
    text-align: left;
}
.intro {
    font-size: 5rem;
    line-height: 4.5rem;
    font-weight: 600;
    text-shadow: 5px 5px 2px $accent;
    animation: 3s ease-in-out normal show;
    span {
        font-size: inherit;
        opacity: 0;
    }
    span.show {
        opacity: 1;
    }
}

// .pro-pic {
//     margin: auto;
//     border-radius: 50%;
//     width: 95%;
//     height: 50%;
//     background: right / cover no-repeat url(../../images/profile1.jpg);
//     border: 1px solid $accent;
// }

@media #{$brk-med} {
    #landing {
        flex-direction: row;
        padding: 20px;
        justify-content: flex-start;
        align-items: center;
    }

    .welcome {
        max-width: 40%;
    }

    .pro-pic {
        width: 250px;
        height: 250px;
        position: relative;
        left: 50px;
    }
}

@media #{$brk-lrg} {
    .pro-pic {
        margin: 0 40% 0 0;
        top: 30vh;
        left: 35vw;
    }
}

@media #{$brk-xl} {
}

@media #{$brk-xxl} {
    .pro-pic {
        height: 400px;
        width: 400px;
        top: 30vh;
        left: 55vw;
    }
}
