/* ============================================= */

/*              TYPOGRAPHY                    */

/* ============================================= */

*,
body,
a {
    font-size: 20px;
    color: aliceblue;
}
h2 {
    font-size: 2rem;
}
h2,
h3 {
    color: $accent;
}
