/* ============================================= */

/*              TYPOGRAPHY                    */

/* ============================================= */
*,
body,
a {
    font-size: 20px;
    color: aliceblue;
}
a,
p,
h1,
h2,
h3,
input,
button {
    font-family: "Quicksand", sans-serif;
}

h2 {
    font-size: 2rem;
}
h2,
h3 {
    color: $accent;
}
